.OrderSummary {
    border: solid black 2px;
    width: 200px;
    height: 220px;
    margin: 50px auto;
}

h3 {
    margin-top: 10px;
}

.Cart {
    display: flex;
}

.btn-default.btn.success:hover {
    background-color: #8EC549;
    color: white;
    border: solid #8EC549 2px;
}