.navbar-toggler {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger6.svg?color=000');
    background-repeat: no-repeat;
    height: 18px;
    padding: 15px;
    border: none;
}

.navbar-toggler {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.navbar-toggler:hover, .navbar-toggler:active {
    transform: scale(1.2);
}

.navbar-toggler:focus {
    outline: 0;
}

.nav-link {
    font-size: 14px;
}

.marble-logo {
    height: 50px;
    -webkit-animation: spin 6s linear infinite;
    -moz-animation: spin 6s linear infinite;
    animation: spin 6s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.marble-logo:hover, .marble-logo:active {
    cursor: pointer;
    transform: scale(1.2);
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    justify-content: center;
}