.navbar-toggler {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger6.svg?color=000');
    background-repeat: no-repeat;
    height: 18px;
    padding: 15px;
    border: none;
}

.nav-link {
    font-size: 14px;
}

.marble-logo {
    height: 50px;
}