.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: -30px;
}

.footer-copyright {
    margin-top: -20px;
}

.fa {
    font-size: 20px;
}

.fa-facebook:hover {
    color: #3C5A96;
}

.fa-twitter:hover {
    color: #2AA3F0;
}

.fa-google-plus:hover {
    color: #DB4C3F;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
}

.Footer {
    margin-top: 50px;
}