.carousel-inner {
    width: 75%;
}

.carousel-control-prev-icon {
    background-image: url('https://i.imgur.com/mr2JBjY.png');
}

.carousel-control-next-icon {
    background-image: url('https://i.imgur.com/c0yztMK.png');
}

.HomePage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.carousel {
    position: relative;
    display: flex;
    justify-content: center;
}