.hero.is-primary.is-bold {
  background-image: url('https://i.imgur.com/Bog8JBn.png');
  background-repeat: none;
  background-size: 100%;
  font-family: calibri;
}

.hero.is-primary .title {
  color: black;
}

.hero.is-primary .subtitle {
  color: black;
}