.container-fluid {
  background-image: url('https://i.imgur.com/dpfp7Ro.jpg');
  background-size: 50%;
  height: 265px;
}

.marble-title {
  margin-top: 90px;
  height: 80px;
  border: solid black 5px;
}