.container-fluid {
  background-image: url('https://i.imgur.com/IijwkSY.png');
  background-size: 90%;
  font-family: calibri;
  height: 265px;
}

.marble-title {
  margin-top: 90px;
  height: 80px;
  border: solid black 5px;
}